body {
  background-color: #C6DEFF;
  text-align: center;
}
h1 {
  color: #2B547E;
  font-family: sans-serif;
  font-size: 35px;

}
p {
  margin: auto;
  font-family: sans-serif;
  font-size: 20px;

}
